doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title iEducate - Transform Education Online
  link(rel='stylesheet' href='../static/css/style.css')
  link(rel='stylesheet' href='../static/css/responsive.css')
nav.navbar.h-nav-resp
  ul.nav-list.another.v-class-resp
    .logo
      img(src='../static/img/logo1.png' alt='logo')
    li
      a(href='#home') Home
    li
      a(href='#about') About
    li
      a(href='#services') Services
    li
      a(href='#contact') Contact Us
  .rightNav.v-class-resp
    input#search(type='text' name='search')
    button.btn.btn-sm search
  .burger
    .line
    .line
    .line
section.background.firstsection
  .box-main
    .firsthalf
      p.text-big The future of education is here
      p.text-small
        | In this world of 7 billion people.We need to educate the child.
        | This is the future of the world.The future of education is here and we are proud
        | to say that
      .buttons
        button.btn Subscribe
        button.btn Watch Video
    .secondhalf
      img(src='../static/img/bg2.jpg' alt='Image Loading')
section.secRight
  .paras.parasright
    p.sectionTag.text-big The end of illiteracy is here
    p.sectionSubTag.text-small
      | Education in India is primarily provided by public schools (controlled
      | and funded by the government at three levels: central, state and local) and private schools. Under
      | various articles of the Indian Constitution, free and compulsory education is provided as a fundamental
      | right to children aged 6 to 14. The approximate ratio of public schools to private schools in India is
      | 7:5. Major policy initiatives in Indian education are numerous. Up until 1976, education policies and
      | implementation were determined legally by each of India&rsquo;s constitutional states. The 42nd amendment to
      | the constitution in 1976 made education a &lsquo;concurrent subject&rsquo;. From this point on the central and state
      | governments shared formal responsibility for funding and administration of education.In a country as
      | large as India, now with 28 states and seven union territories, this means that the potential for
      | variations between states in the policies, plans, programs and initiatives for elementary education is
      | vast. Periodically, national policy frameworks are created to guide states in their creation of
      | state-level programs and policies.
  .thumbnail
    img.imgFluid(src='../static/img/bg3.jpg' alt='Image Loading')
hr
section#services.secLeft
  .paras.parasleft
    p.sectionTag.text-big.text-left-big The child exploited in Indian Education
    p.sectionSubTag.text-small.text-left-small
      | An important challenge for the Indian economy over the next few decades
      | is to exploit the &ldquo;demographic dividend&rdquo; of having a large share of the population of working age. This
      | dividend will only be earned with a well-educated workforce which in turn requires a strong school
      | system.
      | In recent decades, India has increased school enrolment but struggled to deliver actual learning. An
      | annual survey conducted by the NGO Pratham spotlights large learning deficits in basic reading and
      | arithmetic. Only half of Class V students can read texts meant for Class II. More than half the students
      | in Class VIII struggle to do simple division. Behind these abysmal outcomes are major structural
      | problems including ineffective and sometimes absent school teachers, particularly in rural
      | India.Education technology (Edtech), mainly information and communication technology, can address these
      | problems by delivering better lessons, training teachers and motivating students. In recent decades, the
      | cost of computing has plummeted to the point where edtech is feasible even in relatively poor countries.
      | Tablets cost as little as Rs. 2000 and India has the cheapest mobile data plans in the world.
  .thumbnail
    img.imgFluid(src='../static/img/bg4.jpg' alt='Image Loading')
hr
section#about.secRight
  .paras.parasright
    p.sectionTag.text-big Tech Education ready, Lets grow together
    p.sectionSubTag.text-small
      | The number of graduates coming out of technical colleges increased to
      | over 700,000 in 2011 from 550,000 in FY 2010.[104][105] However, according to one study, 75% of
      | technical graduates and more than 85% of general graduates lack the skills needed in India&apos;s most
      | demanding and high-growth global industries such as Information Technology.[106] These high-tech global
      | information technologies companies directly or indirectly employ about 2.3 million people, less than 1%
      | of India&apos;s labour pool.[107] India offers one of the largest pool of technically skilled graduates in
      | the world. Given the sheer numbers of students seeking education in engineering, science and
      | mathematics, India faces daunting challenges in scaling up capacity while maintaining quality. This is
      | very first reaction of the lorem ipsum here is oyr website looking very good.We have been
      | working very hard to understand this and we are very happy to learn it and now we are ready to teach it
      | you with our full entusiasm. We are here to grow you too and give you the best quality of education with
      | our fully expert teachers
  .thumbnail
    img.imgFluid(src='../static/img/bg5.jpg' alt='Image Loading')
hr
section#contact.contact
  h2 Contact Us
    form(action="#contact",method="post",class="form") 
      input#name.text(type='text' name='name' placeholder='Enter your name')
      input#email.text(type='text' name='email' placeholder='Enter your email')
      input#phoneno.text(type='text' name='phoneno' placeholder='Enter your phone-no')
      button.button Submit
footer
  | Copyright &copy; 2021-All Rights Reserved
script(src='../static/js/resp.js')
